<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppInsightsInstrumentationKey" value="dba63cd9-1136-4839-9f08-1fc6b0869b45"/>
    <add key="emailPassword" value="MIIBlwYJKoZIhvcNAQcDoIIBiDCCAYQCAQAxggFIMIIBRAIBADAsMBgxFjAUBgNVBAMMDU5MLmVuY3J5cHRpb24CEBt1kKF+O1i1QiexeUBon3owDQYJKoZIhvcNAQEBBQAEggEAQ9Sw5P5uNgjAR9zqnJwlMO0DzV5xW5A8ZFmzqozGdxRbul2cv7NjcdVpR4Hy23CJCMzRdLXy1RgcmcK6elwMZoZtSaBz5I83/3nSDqnCOZrQw/l6gEW+2cYN9m9mH8cZQFAV/vhxZK7jy1+qrszPwYuJYiCl3IP1zsIZf7c18Gr1xe99+vVJEDoCeVsZ1bFMhAPn9MGFNdrEvrbBi9DqpK3vE8m8ouQVD9O5tdA3Yp12Wx3W8tGINQZqp2PuMkJ91u9IKd0QhxCOtjNyUFQsOrLmAS5JNxWko0vvdMOkTmj3t7G+ONUTYvSnMTE+wf34KkMfKB4viWOyNBflQqZeMTAzBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECBPNo8gWPGZRgBCIOixHF9gRJ/yd53UK3BXh"/>
  </appSettings>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>